**Properati. Workshop 1**

y = precio por metro cuadrado de una propiedad en USD

El dataset de Properati es de tamaño entre pequeño y mediano, pero tiene dos complejidades a las que
deberá prestarle atención:
* Peso de missing data en algunas variables relevantes.
* Será importante tener en cuenta el problema de la influencia espacial en los precios
por metro cuadrado. En efecto, es probable que existan diferencias importantes de
en las diferentes geografías, barrios y zonas analizadas.


Objetivos:
* Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar
estrategias para lidiar con los datos perdidos en ciertas variables.
* Realizar un análisis descriptivo de las principales variables.
* Crear nuevas columnas a partir de las características dadas que puedan tener valor predictivo.

In [66]:
import pandas as pd
import numpy as np

In [67]:
data = pd.read_csv("properati.csv", index_col=0)

In [68]:
data.head(5)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121220 entries, 0 to 121219
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   operation                   121220 non-null  object
 1   property_type               121220 non-null  object
 2   place_name                  121197 non-null  object
 3   place_with_parent_names     121220 non-null  object
 4   country_name                121220 non-null  object
 5   state_name                  121220 non-null  object
 6   geonames_id                 102503 non-null  float64
 7   lat-lon                     69670 non-null   object
 8   lat                         69670 non-null   float64
 9   lon                         69670 non-null   float64
 10  price                       100810 non-null  float64
 11  currency                    100809 non-null  object
 12  price_aprox_local_currency  100810 non-null  float64
 13  price_aprox_usd             100810 non-null  float64
 14  surface_total_in_m2         81892 non-null   float64
 15  surface_covered_in_m2       101313 non-null  float64
 16  price_usd_per_m2            68617 non-null   float64
 17  price_per_m2                87658 non-null   float64
 18  floor                       7899 non-null    float64
 19  rooms                       47390 non-null   float64
 20  expenses                    14262 non-null   float64
 21  properati_url               121220 non-null  object
 22  description                 121218 non-null  object
 23  title                       121220 non-null  object
 24  image_thumbnail             118108 non-null  object
dtypes: float64(13), object(12)
memory usage: 24.0+ MB

In [117]:
data.place_name.value_counts().head(10)

Córdoba          9254
Rosario          8504
Mar del Plata    6534
Tigre            3324
Nordelta         3315
Belgrano         2992
Palermo          2885
La Plata         2534
Caballito        2273
Pilar            2228
Name: place_name, dtype: int64

In [95]:
data.state_name.value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

**Diferentes area (CABA, GBA NORTE)**

In [97]:
caba = data.loc[data.state_name == 'Capital Federal', :]
caba.head(3)
type(caba)
caba.state_name.value_counts()

Capital Federal    32316
Name: state_name, dtype: int64

In [126]:
caba.groupby("place_name").lon.describe()

,count,mean,std,min,25%,50%,75%,max
place_name,,,,,,,,
Abasto,76.0,-58.410984,0.007748,-58.456686,-58.412740,-58.410789,-58.409378,-58.372110
Agronomía,41.0,-58.485830,0.008968,-58.499064,-58.493142,-58.489408,-58.480257,-58.462684
Almagro,962.0,-58.421223,0.008458,-58.542461,-58.425527,-58.420777,-58.417008,-58.368722
Balvanera,595.0,-58.402815,0.009311,-58.458943,-58.406627,-58.403621,-58.397429,-58.367601
Barracas,369.0,-58.374451,0.005242,-58.394178,-58.376779,-58.373836,-58.370435,-58.359175
...,...,...,...,...,...,...,...,...
Villa Riachuelo,6.0,-58.469724,0.001471,-58.471299,-58.470376,-58.470107,-58.469545,-58.467008
Villa Santa Rita,56.0,-58.480247,0.014434,-58.499911,-58.484394,-58.481818,-58.478527,-58.381587
Villa Soldati,15.0,-58.445299,0.014740,-58.473611,-58.446504,-58.443253,-58.438881,-58.417959
Villa Urquiza,1087.0,-58.483033,0.010296,-58.538654,-58.488694,-58.483565,-58.478517,-58.381587
Villa del Parque,330.0,-58.488383,0.009122,-58.530593,-58.494670,-58.488938,-58.481573,-58.441756

In [98]:
norte = data.loc[data.state_name == 'Bs.As. G.B.A. Zona Norte', : ]
norte.head()
norte.columns
norte.index
#type(norte.state_name)
#pd.DataFrame(norte)
type(norte)
norte.state_name.value_counts()

Bs.As. G.B.A. Zona Norte    25560
Name: state_name, dtype: int64

In [113]:
caba_nor = caba.append(norte)
caba_nor.state_name.value_counts()

Capital Federal             32316
Bs.As. G.B.A. Zona Norte    25560
Name: state_name, dtype: int64

In [115]:
caba_nor.place_name.value_counts()

Tigre                            3324
Nordelta                         3315
Belgrano                         2992
Palermo                          2885
Caballito                        2273
                                 ...
coordenadas 34.255511               1
Barrio Cerrado "La Escondida"       1
Barrio Cerrado La Masia             1
La Herradura                        1
Marina Del Sol (Sun's Marine)       1
Name: place_name, Length: 326, dtype: int64

In [123]:
caba_nor.head(3)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...

In [125]:
caba_nor.groupby("place_name").lon.describe()

,count,mean,std,min,25%,50%,75%,max
place_name,,,,,,,,
Country Maschwitz Club,3.0,-58.755411,0.001061,-58.756042,-58.756024,-58.756006,-58.755096,-58.754186
los alamos,1.0,-58.601876,NaN,-58.601876,-58.601876,-58.601876,-58.601876,-58.601876
Abasto,76.0,-58.410984,0.007748,-58.456686,-58.412740,-58.410789,-58.409378,-58.372110
Acacias Blancas,9.0,-58.760994,0.002377,-58.765921,-58.760955,-58.760938,-58.760900,-58.756428
Acassuso,56.0,-58.503589,0.005045,-58.518128,-58.505220,-58.503304,-58.501528,-58.491277
...,...,...,...,...,...,...,...,...
Village Golf & Tennis Country Club,7.0,-58.765970,0.001563,-58.768000,-58.766876,-58.765701,-58.765532,-58.763275
Virasoro Village,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virreyes,6.0,-58.569492,0.013391,-58.594315,-58.569670,-58.568293,-58.562633,-58.555176
Zelaya,6.0,-59.660925,1.937916,-63.616672,-58.874504,-58.870534,-58.867561,-58.865414
coordenadas 34.255511,1.0,-58.601717,NaN,-58.601717,-58.601717,-58.601717,-58.601717,-58.601717

**Data sets externos**

* Agreguen toda otra información construida a partir de los datos originales (o incluso información externa) que consideren relevante y útil para resolver los objetivos planteados.

In [156]:
subte_data = "https://raw.githubusercontent.com/carlachka/grupo2dh/master/subte.csv"
ferro_data = "https://raw.githubusercontent.com/carlachka/grupo2dh/master/ferrocarril.csv"
paradas_df = "https://raw.githubusercontent.com/carlachka/grupo2dh/master/paradas.csv"
#colec_data = "https://raw.githubusercontent.com/carlachka/grupo2dh/master/recorrido-colectivos.csv"
# eph??

subte = pd.read_csv(subte_data) 
ferro = pd.read_csv(ferro_data)
colec2 = pd.read_csv(colec_data)
colec = pd.read_csv(paradas_df)

In [157]:
subte.head(3) # long lat id estacion linea

        long        lat   id                    estacion linea
0 -58.398928 -34.635750  1.0                     CASEROS     H
1 -58.400970 -34.629376  2.0  INCLAN - MEZQUITA AL AHMAD     H
2 -58.402323 -34.623092  3.0                 HUMBERTO 1°     H

In [158]:
subte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   long      90 non-null     float64
 1   lat       90 non-null     float64
 2   id        90 non-null     float64
 3   estacion  90 non-null     object
 4   linea     90 non-null     object
dtypes: float64(3), object(2)
memory usage: 3.6+ KB

In [159]:
subte.estacion.value_counts().sort_values(ascending=False)

RETIRO                                  2
PUEYRREDON                              2
INDEPENDENCIA                           2
ENTRE RIOS - RODOLFO WALSH              1
MALABIA - OSVALDO PUGLIESE              1
                                       ..
CATALINAS                               1
JUAN MANUEL DE ROSAS - VILLA URQUIZA    1
PLAZA DE MISERERE                       1
FACULTAD DE MEDICINA                    1
ANGEL GALLARDO                          1
Name: estacion, Length: 87, dtype: int64

In [160]:
ferro.head(3)

,long,lat,id,nombre,linea,linea_2,ramal,barrio,comuna,localidad,partido
0,-58.424982,-34.571748,1,3 de Febrero,Mitre,F.C.G.B.M.,Retiro - Mitre,Palermo,Comuna 14,NaN,NaN
1,-58.461808,-34.568051,35,Belgrano R,Mitre,F.C.G.B.M.,Retiro - Mitre,Belgrano,Comuna 13,NaN,NaN
2,-58.475348,-34.565261,90,Coghlan,Mitre,F.C.G.B.M.,Retiro - Mitre,Coghlan,Comuna 12,NaN,NaN

In [161]:
ferro.groupby("barrio").long.describe()

,count,mean,std,min,25%,50%,75%,max
barrio,,,,,,,,
Balvanera,1.0,-58.408868,NaN,-58.408868,-58.408868,-58.408868,-58.408868,-58.408868
Barracas,1.0,-58.378888,NaN,-58.378888,-58.378888,-58.378888,-58.378888,-58.378888
Belgrano,2.0,-58.455376,0.009096,-58.461808,-58.458592,-58.455376,-58.452160,-58.448944
Caballito,1.0,-58.443652,NaN,-58.443652,-58.443652,-58.443652,-58.443652,-58.443652
Coghlan,1.0,-58.475348,NaN,-58.475348,-58.475348,-58.475348,-58.475348,-58.475348
Colegiales,1.0,-58.448253,NaN,-58.448253,-58.448253,-58.448253,-58.448253,-58.448253
Constitucion,1.0,-58.380583,NaN,-58.380583,-58.380583,-58.380583,-58.380583,-58.380583
Flores,1.0,-58.466177,NaN,-58.466177,-58.466177,-58.466177,-58.466177,-58.466177
Floresta,1.0,-58.480891,NaN,-58.480891,-58.480891,-58.480891,-58.480891,-58.480891
Liniers,1.0,-58.526341,NaN,-58.526341,-58.526341,-58.526341,-58.526341,-58.526341
Nu\u00f1ez,2.0,-58.465442,0.003664,-58.468033,-58.466737,-58.465442,-58.464147,-58.462852
Nueva Pompeya,1.0,-58.419956,NaN,-58.419956,-58.419956,-58.419956,-58.419956,-58.419956
Palermo,3.0,-58.429267,0.005452,-58.435404,-58.431410,-58.427415,-58.426199,-58.424982
Retiro,2.0,-58.375909,0.000311,-58.376129,-58.376019,-58.375909,-58.375799,-58.375689
Saavedra,1.0,-58.487063,NaN,-58.487063,-58.487063,-58.487063,-58.487063,-58.487063
Villa Del Parque,1.0,-58.493531,NaN,-58.493531,-58.493531,-58.493531,-58.493531,-58.493531
Villa Devoto,1.0,-58.512431,NaN,-58.512431,-58.512431,-58.512431,-58.512431,-58.512431
Villa Lugano,1.0,-58.476970,NaN,-58.476970,-58.476970,-58.476970,-58.476970,-58.476970
Villa Luro,1.0,-58.502131,NaN,-58.502131,-58.502131,-58.502131,-58.502131,-58.502131
Villa Pueyrredon,1.0,-58.501898,NaN,-58.501898,-58.501898,-58.501898,-58.501898,-58.501898
Villa Soldati,2.0,-58.445560,0.006594,-58.450222,-58.447891,-58.445560,-58.443229,-58.440897
Villa Urquiza,2.0,-58.483415,0.006256,-58.487839,-58.485627,-58.483415,-58.481203,-58.478991

In [163]:
#caba.groupby("place_name").lon.describe()

In [162]:
ferro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   long       230 non-null    float64
 1   lat        230 non-null    float64
 2   id         230 non-null    int64
 3   nombre     230 non-null    object
 4   linea      230 non-null    object
 5   linea_2    230 non-null    object
 6   ramal      230 non-null    object
 7   barrio     29 non-null     object
 8   comuna     29 non-null     object
 9   localidad  158 non-null    object
 10  partido    159 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 19.9+ KB

In [165]:
colec.head(3)

,stop_id,stop_code,stop_name,stop_lat,stop_lon,direction_id,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,201,201,1520 DEFENSA,-34.625663,-58.371042,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3
1,2072,2072,722 REGIMIENTO DE PATRICIOS AV.,-34.636743,-58.369765,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3
2,2079,2079,324 REGIMIENTO DE PATRICIOS AV.,-34.632942,-58.370332,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3

In [166]:
#Cambio los nombres de las columnas de paradas de colectivos
colec = colec.rename({
    'stop_lat': 'lat',
    'stop_lon': 'long',
}, axis=1)

In [167]:
colec.head(3)

,stop_id,stop_code,stop_name,lat,long,direction_id,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,201,201,1520 DEFENSA,-34.625663,-58.371042,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3
1,2072,2072,722 REGIMIENTO DE PATRICIOS AV.,-34.636743,-58.369765,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3
2,2079,2079,324 REGIMIENTO DE PATRICIOS AV.,-34.632942,-58.370332,1,108,26,22A,JNAMBA022,Retiro - Cno. Centenario y Lavalleja,3

In [168]:
colec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42463 entries, 0 to 42462
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   stop_id           42463 non-null  int64
 1   stop_code         42463 non-null  int64
 2   stop_name         42463 non-null  object
 3   lat               42463 non-null  float64
 4   long              42463 non-null  float64
 5   direction_id      42463 non-null  int64
 6   route_id          42463 non-null  int64
 7   agency_id         42463 non-null  int64
 8   route_short_name  42463 non-null  object
 9   route_long_name   42463 non-null  object
 10  route_desc        42463 non-null  object
 11  route_type        42463 non-null  int64
dtypes: float64(2), int64(6), object(4)
memory usage: 3.9+ MB

Todas las lat y long en los 4 dataframes son float.

**Distancia entre dos puntos de latitud y longitud - Haversine_formula**

The [haversine](https://en.wikipedia.org/wiki/Haversine_formula) formula allows the haversine of Θ (that is, hav(Θ)) to be computed directly from the latitude and longitude of the two points.

<img src="h_formula.png" alt="Drawing" style="width: 400px;"/>


* φ1, φ2 are the latitude of point 1 and latitude of point 2 (in radians),
* λ1, λ2 are the longitude of point 1 and longitude of point 2 (in radians).

As similar formula can be written using cosines (sometimes called the spherical law of cosines, not to be confused with the law of cosines for plane geometry) instead of haversines, but if the two points are close together (e.g. a kilometer apart, on the Earth) you might end up with an inaccurate answer. Since the haversine formula uses sines, it avoids that problem.

A [simplified formula](http://www.movable-type.co.uk/scripts/latlong.html) says:

<img src="h_simple.png" alt="Drawing" style="width: 600px;"/>

In [ ]:
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.
    Distances are in meters.
    
    Ref:
    https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas
    https://ipython.readthedocs.io/en/stable/interactive/magics.html
    """
    Radius = 6.371e6 #Radius of the earth in m
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2]) #transforma m a radianes

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2 #formula H simple

    c = 2 * np.arcsin(np.sqrt(a))
    
    s12 = Radius * c
    
    # initial azimuth in degrees
#    y = np.sin(lon2-lon1) * np.cos(lat2)
#    x = np.cos(lat1)*np.sin(lat2) - np.sin(lat1)*np.cos(lat2)*np.cos(dlon)
#    azi1 = np.arctan2(y, x)*180./math.pi

#    return {'s12':s12, 'azi1': azi1}

    return {'D':s12}

In [178]:
#vectorized numpy version of the same function

import numpy as np

def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    
    km = 6367 * c  #el radio de la tierra no es 6371 km??
    
    return km

"""
#The inputs are all arrays of values, and it should be able to do millions of points instantly. 
#The requirement is that the inputs are ndarrays but the columns of your pandas table will work.

#For example, with randomly generated values:

import numpy as np
import pandas
lon1, lon2, lat1, lat2 = np.random.randn(4, 1000000)
df = pandas.DataFrame(data={'lon1':lon1,'lon2':lon2,'lat1':lat1,'lat2':lat2})
km = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

Or if you want to create another column:

>>> df['distance'] = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

Looping through arrays of data is very slow in python. Numpy provides functions that operate on entire arrays of data, 
which lets you avoid looping and drastically improve performance.
"""

"\n#The inputs are all arrays of values, and it should be able to do millions of points instantly. \n#The requirement is that the inputs are ndarrays but the columns of your pandas table will work.\n\n#For example, with randomly generated values:\n\nimport numpy as np\nimport pandas\nlon1, lon2, lat1, lat2 = np.random.randn(4, 1000000)\ndf = pandas.DataFrame(data={'lon1':lon1,'lon2':lon2,'lat1':lat1,'lat2':lat2})\nkm = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])\n\nOr if you want to create another column:\n\n>>> df['distance'] = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])\n\nLooping through arrays of data is very slow in python. Numpy provides functions that operate on entire arrays of data, \nwhich lets you avoid looping and drastically improve performance.\n"

In [180]:
lon1, lon2, lat1, lat2 = np.random.randn(4, 1000000)
df = pd.DataFrame(data={'lon1':lon1,'lon2':lon2,'lat1':lat1,'lat2':lat2})
km = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])
df['distance'] = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

In [181]:
df.head(3)

       lon1      lon2      lat1      lat2    distance
0 -0.288038  0.025506 -0.231239  0.039361   46.024321
1  0.758142 -0.673159  1.416591 -0.536597  269.079916
2 -0.223119 -0.186088 -0.472167 -1.103877   70.319318

**Tratamiento de Properati**

In [14]:
#state_name
data.state_name.value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

In [17]:
data.place_name.value_counts() #place_with_parent_names

Córdoba                                  9254
Rosario                                  8504
Mar del Plata                            6534
Tigre                                    3324
Nordelta                                 3315
                                         ...
Gorina                                      1
San Eliseo Country, Golf, Hotel & Spa       1
Villa Argüello                              1
Agua Blanca                                 1
General Lavalle                             1
Name: place_name, Length: 1060, dtype: int64

In [18]:
data.place_with_parent_names.value_counts() #place_with_parent_names

|Argentina|Santa Fe|Rosario|                              8504
|Argentina|Córdoba|Córdoba|                               6606
|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|    6534
|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nordelta|       3315
|Argentina|Capital Federal|Belgrano|                      2992
                                                          ...
|Argentina|Córdoba|Tancacha|                                 1
|Argentina|Jujuy|San Antonio|                                1
|Argentina|Buenos Aires Interior|Balcarce|Balcarce|          1
|Argentina|Buenos Aires Interior|Luján|Santa Catalina|       1
|Argentina|La Pampa|Speluzzi|                                1
Name: place_with_parent_names, Length: 1164, dtype: int64

In [22]:
#Nos quedamos con CABA 
data_CABA_mask = data.state_name == "Capital Federal"
print(data_CABA_mask.value_counts())
caba = data.loc[data_CABA_mask, :]
print(caba.shape)
caba.head(5)

False    88904
True     32316
Name: state_name, dtype: int64
(32316, 26)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,40.0,3066.666667,3450.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,60.0,3000.000000,3250.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...

In [23]:
caba.place_name.value_counts()

Belgrano           2992
Palermo            2885
Caballito          2273
Villa Urquiza      1629
Recoleta           1547
                   ...
Velez Sarsfield      39
Villa Real           37
Villa Soldati        15
Villa Riachuelo       6
Catalinas             4
Name: place_name, Length: 62, dtype: int64

In [15]:
df_ferro.barrio.value_counts()

Palermo             3
Retiro              2
Villa Soldati       2
Belgrano            2
Nu\u00f1ez          2
Villa Urquiza       2
Villa Lugano        1
Constitucion        1
Villa Pueyrredon    1
Villa Luro          1
Floresta            1
Nueva Pompeya       1
Caballito           1
Balvanera           1
Colegiales          1
Liniers             1
Saavedra            1
Villa Devoto        1
Barracas            1
Villa Del Parque    1
Flores              1
Coghlan             1
Name: barrio, dtype: int64

In [ ]:
#Ver nulos en data set original

In [28]:
por_nulos = data.isnull().sum() / data.shape[0]
por_nulos_sorted = por_nulos.sort_values(ascending=False)
por_nulos_sorted

floor                         0.934837
expenses                      0.882346
rooms                         0.609058
price_usd_per_m2              0.433947
lon                           0.425260
lat-lon                       0.425260
lat                           0.425260
surface_total_in_m2           0.324435
price_per_m2                  0.276869
currency                      0.168380
price_aprox_usd               0.168372
price_aprox_local_currency    0.168372
price                         0.168372
surface_covered_in_m2         0.164222
geonames_id                   0.154405
image_thumbnail               0.025672
place_name                    0.000190
description                   0.000016
title                         0.000000
properati_url                 0.000000
state_name                    0.000000
country_name                  0.000000
place_with_parent_names       0.000000
property_type                 0.000000
operation                     0.000000
Unnamed: 0                    0.000000
dtype: float64

In [30]:
#state_name tiene 0% de nulos, entonces podemos filtrar por state name y quedarnos con CABA
data.state_name.value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

In [25]:
#pocentaje de registros null hay en cada columna
por_nulos = caba.isnull().sum() / caba.shape[0]
por_nulos_sorted = por_nulos.sort_values(ascending=False)
por_nulos_sorted

floor                         0.906888
expenses                      0.796014
rooms                         0.525777
price_usd_per_m2              0.274848
lon                           0.264451
lat-lon                       0.264451
lat                           0.264451
surface_total_in_m2           0.181922
price_per_m2                  0.154475
currency                      0.102055
price_aprox_usd               0.102055
price_aprox_local_currency    0.102055
price                         0.102055
surface_covered_in_m2         0.072379
geonames_id                   0.039795
image_thumbnail               0.015101
title                         0.000000
properati_url                 0.000000
description                   0.000000
state_name                    0.000000
country_name                  0.000000
place_with_parent_names       0.000000
place_name                    0.000000
property_type                 0.000000
operation                     0.000000
Unnamed: 0                    0.000000
dtype: float64

El dataset contiene información sobre todas las propiedades georeferenciadas de la base
de datos de la empresa. La información de cada propiedad que incluye es la siguiente:
* Fecha de creación
* Tipo de la propiedad (house, apartment, ph)
* Operación del aviso (sell, rent)
* Nombre del lugar
* Nombre del lugar + nombre de sus ‘padres’
* ID de geonames del lugar (si está disponible)
* Latitud,Longitud
* Precio original del aviso
* Moneda original del aviso (ARS, USD)
* Precio del aviso en moneda local (ARS)
* Precio aproximado en USD
* Superficie en m2
* Superficie cubierta en m2
* Precio en USD/m2
* Precio por m2
* N° de piso, si corresponde
* Ambientes
* URL en Properati
* Descripción
* Título
* URL de un thumbnail de la primer foto

In [31]:
print(caba.shape)
print(caba.columns)
print(caba.dtypes)

(32316, 26)
Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')
Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [27]:
#posibles variables no utiles
caba.floor.value_counts() #ni idea que es floor

1.0       587
2.0       489
3.0       370
4.0       292
5.0       232
         ...
1104.0      1
907.0       1
94.0        1
130.0       1
407.0       1
Name: floor, Length: 85, dtype: int64

In [32]:
caba.operation.value_counts() #todo el dataset tiene valor 'sell'

sell    32316
Name: operation, dtype: int64

In [33]:
caba.place_with_parent_names.value_counts() #Ya tenemos esta informacion en place_name en barrio

|Argentina|Capital Federal|Belgrano|           2992
|Argentina|Capital Federal|Palermo|            2885
|Argentina|Capital Federal|Caballito|          2273
|Argentina|Capital Federal|Villa Urquiza|      1629
|Argentina|Capital Federal|Recoleta|           1547
                                               ...
|Argentina|Capital Federal|Velez Sarsfield|      39
|Argentina|Capital Federal|Villa Real|           37
|Argentina|Capital Federal|Villa Soldati|        15
|Argentina|Capital Federal|Villa Riachuelo|       6
|Argentina|Capital Federal|Catalinas|             4
Name: place_with_parent_names, Length: 62, dtype: int64

In [34]:
caba.country_name.value_counts() #argentina solo

Argentina    32316
Name: country_name, dtype: int64

In [35]:
caba.geonames_id.value_counts() #no sabemos bien que es ni su utilidad coincide con el numero de datos de barrios
#3430234.0 3279 Palermo y algo mas??? 3436077.0 2992 Belgrano 3435874.0 2273 Caballito

3430234.0    3279
3436077.0    2992
3435874.0    2273
3433775.0    1629
3429595.0    1547
3433918.0    1354
3427458.0    1331
3433955.0    1297
3428113.0    1216
3436397.0    1165
3436109.0    1140
3436003.0     890
3430348.0     778
6693228.0     667
3429760.0     647
3429153.0     614
3429422.0     542
3430570.0     538
3433910.0     516
3427455.0     488
3427407.0     432
3436134.0     425
3427451.0     420
3430787.0     418
3431333.0     408
3435356.0     352
3430114.0     322
3435259.0     304
3435359.0     259
3429576.0     248
3435506.0     227
3435548.0     223
3436004.0     223
3435257.0     211
3427408.0     205
3430291.0     198
6693229.0     187
3429703.0     175
3430087.0     173
3430116.0     146
3427387.0      86
3430596.0      79
3430387.0      64
6693230.0      57
3427510.0      55
3427433.0      48
3430115.0      44
3436487.0      41
3427528.0      39
3427383.0      37
3427366.0      15
3427379.0       6
Name: geonames_id, dtype: int64

In [ ]:
#caba.lat-lon.value_counts() # vamso a usar estas variables por separado que ya aparecen

In [36]:
caba.currency.value_counts() # vamso a conservarla para separar los valores en pesos

USD    27826
ARS     1190
PEN        2
Name: currency, dtype: int64

Primer filtro de columnas no utiles:

* Unnamed: 0' No tiene valores relevantes, es el mismo valor q el indice
* 'operation. todo el dataset tiene valor 'sell'
* 'place_with_parent_names' esta pais|estad|barrio todo junto. Ya tenemos esta informacion en place_name en barrio
* 'country_name' esta argentina solo
* 'geonames_id'no sabemos que es ni su utilidad
* 'lat-lon' ya esta lat y long separada en columnas
* 'image_thumbnail' no util para predecir

Vamos a conservar por el momento:

* 'currency', esta en USD el 95% pero tenemos que usar esta columna para eliminar los precios que estan expresados en pesos
* 'price_aprox_local_currency', precio en pesos, no sabemos la fecha que fue cotizada en pesos
* 'price_aprox_usd', Es para eliminar depsues de confirmar que esta y la columna price tengan los mismos valores
* 'price_per_m2', precio en pesos arg por m2
* 'expenses' no se que, creo que son expensas
* 'properati_url', es el url del dpto
* 'description' la descripcion de cada dpto 'title' y titulo

**Primer filtro de columnas**

In [131]:
data.columns

Index(['operation', 'property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [39]:
desired_col= ['property_type', 'place_name', 'state_name', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title']

In [44]:
df_caba= caba[desired_col]
por_nul = df_caba.isnull().sum()/df_caba.shape[0]*100
por_nul_sorted = por_nul.sort_values(ascending=False)
por_nul_sorted

floor                         90.688823
expenses                      79.601436
rooms                         52.577671
price_usd_per_m2              27.484837
lat                           26.445105
lon                           26.445105
surface_total_in_m2           18.192227
price_per_m2                  15.447456
price_aprox_usd               10.205471
price_aprox_local_currency    10.205471
currency                      10.205471
price                         10.205471
surface_covered_in_m2          7.237901
place_name                     0.000000
state_name                     0.000000
title                          0.000000
description                    0.000000
properati_url                  0.000000
property_type                  0.000000
dtype: float64

In [128]:
#df_barrios = caba[(caba['place_name'] == 'Belgrano') | (caba['place_name'] == 'Palermo') | (caba['place_name'] == 'Caballito')]
#df_barrios.head(5)
#cambiar este filtro hacerlo con mascara booleana

In [50]:
df_barrios.head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,40.0,3066.666667,3450.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,60.0,3000.000000,3250.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...
19,19,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.580503566,-58.4058744847",-34.580504,...,96.0,3365.384615,3645.833333,NaN,3.0,NaN,http://www.properati.com.ar/15bq8_venta_depart...,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ...",https://thumbs4.properati.com/8/1y9fKHLee-aQQj...
21,21,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.590926,-58.4116653",-34.590926,...,73.0,2292.372881,3705.479452,NaN,4.0,NaN,http://www.properati.com.ar/15bqd_venta_depart...,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo,https://thumbs4.properati.com/0/P6wPIXB1wJFLVU...
52,52,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6222111,-58.4391283",-34.622211,...,50.0,2200.000000,2200.000000,NaN,3.0,NaN,http://www.properati.com.ar/15buk_venta_depart...,Departamento de 3 Ambientes al Contrafrente. S...,CABALLITO 3 AMB. EN VENTA Listo para escriturar,https://thumbs4.properati.com/7/eXZg2k6Uq2w8KB...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121152,121152,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.623443168,-58.455030181",-34.623443,...,33.0,NaN,2257.575758,NaN,NaN,NaN,http://www.properati.com.ar/1cj5d_venta_depart...,Monoambiente divisible en 3 piso al frente con...,Departamento - Caballito,https://thumbs4.properati.com/5/SDsLgFbj8kGNG_...
121157,121157,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,35.0,3368.421053,3657.142857,NaN,NaN,NaN,http://www.properati.com.ar/1cj5q_venta_depart...,Torre de 16º pisos ubicado en pleno centro com...,Departamento - Belgrano C,https://thumbs4.properati.com/3/jy7Bo02JdmAK4J...
121160,121160,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,2611.464968,NaN,NaN,NaN,6300.0,http://www.properati.com.ar/1cj5v_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...
121209,121209,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,2611.464968,NaN,NaN,NaN,6300.0,http://www.properati.com.ar/1cj7c_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...

In [130]:
palermo = data.loc[data.place_name == 'Palermo', : ]
palermo.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
19,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.580503566,-58.4058744847",-34.580504,-58.405874,...,96.0,3365.384615,3645.833333,NaN,3.0,NaN,http://www.properati.com.ar/15bq8_venta_depart...,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ...",https://thumbs4.properati.com/8/1y9fKHLee-aQQj...
21,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.590926,-58.4116653",-34.590926,-58.411665,...,73.0,2292.372881,3705.479452,NaN,4.0,NaN,http://www.properati.com.ar/15bqd_venta_depart...,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo,https://thumbs4.properati.com/0/P6wPIXB1wJFLVU...
203,sell,PH,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.585483,-58.428493",-34.585483,-58.428493,...,200.0,1312.500000,1575.000000,NaN,NaN,NaN,http://www.properati.com.ar/15dhw_venta_ph_pal...,"PB : Hall, living comedor con hogar, patio cub...",NICARAGUA 4970 PH DOS PLANTAS VENTA,https://thumbs4.properati.com/7/c2gZb_RyfnvunN...
241,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.5888617,-58.4123072",-34.588862,-58.412307,...,35.0,3776.923077,4208.571429,NaN,1.0,NaN,http://www.properati.com.ar/15dn0_venta_depart...,IMPECABLE TORRE COY III – DEPARTAMENTO DE UN A...,BULNES AL 1900 - VENTA - 1 AMB C/ BALCON AL FR...,https://thumbs4.properati.com/0/13IhaC4FRjml5g...
256,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.5664787494,-58.4340748222",-34.566479,-58.434075,...,175.0,2514.285714,2514.285714,NaN,4.0,NaN,http://www.properati.com.ar/15dpv_venta_depart...,Excelente ubicación en el barrio de Cañitas4 A...,Piso 4 amb con dependencia y cochera en Venta ...,https://thumbs4.properati.com/7/_iZtVvjWtoiNtQ...

**Palermo**

In [133]:
desired_col= ['property_type', 'place_name', 'state_name', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title']

paler= palermo[desired_col]
por_nul = paler.isnull().sum()/paler.shape[0]*100
por_nul_sorted = por_nul.sort_values(ascending=False)
por_nul_sorted

floor                         89.046794
expenses                      71.646447
rooms                         57.019064
price_usd_per_m2              31.265165
lat                           27.694974
lon                           27.694974
surface_total_in_m2           19.168111
price_per_m2                  18.301560
price_aprox_usd               12.720971
price_aprox_local_currency    12.720971
currency                      12.720971
price                         12.720971
surface_covered_in_m2          6.967071
place_name                     0.000000
state_name                     0.000000
title                          0.000000
description                    0.000000
properati_url                  0.000000
property_type                  0.000000
dtype: float64

In [140]:
paler.shape

(2885, 19)

In [141]:
"""
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

msno.matrix(paler)
plt.show()
"""

'\nimport matplotlib.pyplot as plt\nimport seaborn as sns\nimport missingno as msno\n\nmsno.matrix(paler)\nplt.show()\n'

In [135]:
paler.head(3)

,property_type,place_name,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title
19,apartment,Palermo,Capital Federal,-34.580504,-58.405874,350000.0,USD,6175575.00,350000.0,104.0,96.0,3365.384615,3645.833333,NaN,3.0,NaN,http://www.properati.com.ar/15bq8_venta_depart...,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ..."
21,apartment,Palermo,Capital Federal,-34.590926,-58.411665,270500.0,USD,4772837.25,270500.0,118.0,73.0,2292.372881,3705.479452,NaN,4.0,NaN,http://www.properati.com.ar/15bqd_venta_depart...,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo
203,PH,Palermo,Capital Federal,-34.585483,-58.428493,315000.0,USD,5558017.50,315000.0,240.0,200.0,1312.500000,1575.000000,NaN,NaN,NaN,http://www.properati.com.ar/15dhw_venta_ph_pal...,"PB : Hall, living comedor con hogar, patio cub...",NICARAGUA 4970 PH DOS PLANTAS VENTA

In [142]:
paler.groupby("place_name").lon.describe()

,count,mean,std,min,25%,50%,75%,max
place_name,,,,,,,,
Palermo,2086.0,-58.424693,0.010945,-58.542461,-58.432977,-58.423297,-58.41705,-58.37556

In [174]:
paler.groupby("place_name").lat.describe()

,count,mean,std,min,25%,50%,75%,max
place_name,,,,,,,,
Palermo,2086.0,-34.583105,0.008922,-34.634479,-34.589102,-34.583124,-34.576839,-34.557431

In [177]:
#paler.describe()
paler.shape

(2885, 19)

In [155]:
lat_max = paler.lat.max()
lat_min = paler.lat.min()
lon_max = paler.lon.max()
lon_min = paler.lon.min()

**Como usar lat y long de df externo**

In [152]:
caba = data.loc[data.state_name == 'Capital Federal', :]

In [172]:
subte.head(3) # long lat id estacion linea AGREGAR subte
colec.head(3) # lat long stop_id route_id  AGREGAR colectivo
ferro.head(3) # lat long id nombre barrio  AGREGAR ferrocarril

,long,lat,id,nombre,linea,linea_2,ramal,barrio,comuna,localidad,partido
0,-58.424982,-34.571748,1,3 de Febrero,Mitre,F.C.G.B.M.,Retiro - Mitre,Palermo,Comuna 14,NaN,NaN
1,-58.461808,-34.568051,35,Belgrano R,Mitre,F.C.G.B.M.,Retiro - Mitre,Belgrano,Comuna 13,NaN,NaN
2,-58.475348,-34.565261,90,Coghlan,Mitre,F.C.G.B.M.,Retiro - Mitre,Coghlan,Comuna 12,NaN,NaN

In [176]:
print(subte.shape)
print(colec.shape)
print(ferro.shape)

(90, 5)
(42463, 12)
(230, 11)

-----
(Sobre la vble target: si no tengo la vble target, no vamos a poder train c/ eso)

Pending:

* Ver como usar todas las herramientas vistas hasta ahora. BRUNO : Calses Visualisacion 1 y 2
* BRUNO: Geoids es util o no?
* Outliers y lipiar columnas: (LUCAS)
* Hacer limpieza de datos, si hay outliers filtrarlo. 
* Numerizacion de datos y explorar
* Ver bien columnas su utilidad, amenities
* Atencion c/ expresiones regulares, datos "jugosos" en description y title
* Limpiar vble floor
* Cant de habitaciones rooms - muchas - quizas no sirve y es mejor NaN

* CARLA: Subte y ferro: 1 - Cargar cvs 2 - Calcular distancia a estacion. Formula Diego. Calcular distanticia a subte/ferro 3 - google: lat long to metres formula 4 - o dummy 500m ( u otro threshold) de distancia a estacion subte

Ideas/preguntas que me surgieron:

* Sobre socioeconomico: agregar la EPH para ver si mismo nivel de barrios?
* Cuanta variabilidad en un solo barrio, sera suficiente? * Hacer por un lago UN barrio y por otro lado todo CABA y norte GBA?
* no segura si mejor Colab o directametne git pull colaboraciones. Preguntar a Diego que se una en su trabajo
* Facilities? Usar expresiones regulares y de donde se puede extraer eso. Por ej ascensor? pileta? Lucas esta explorando esto tb
* Actualizacion de USD peso?
* Agregar visualizaciones linda.(DANIEL)
* Agregar colectivos?
-----